.container {
  height: 700px;
  width: 100%;
  background-color: #f0f2f5;
  position: relative;
  left: 300px;
}

body {
  background-color: #f0f2f5;
}

.footer {
  background-color: white;
  height: 250px;
  color: #998db1;
  font-family: arial;
}

.footer p {
  text-align: center;
  word-spacing: 10px;
}

.recent {
  height: 600px;
  width: 600px;
  position: relative;

  border: width 10px;
}

.logo_text img {
  height: 195px;
  width: 195px;
  position: absolute;
  left: 40px;
  top: 90px;
}

.logo_text p {
  font-family: Arial;
  font-size: 30px;
  position: relative;
  top: 200px;
}

.login_form {
  height: 350px;
  width: 395px;
  border: solid;
  border: width 2px;
  border-color: blue;
  position: relative;
  left: 800px;
  top: 20px;
  border: solid;
  border-width: 1px;
  border-color: white;
  background-color: white;
  border-radius: 10px;
}

.username {
  width: 365px;
  height: 55px;
  margin: 10px;
  font-family: arial;
  color: #90949c;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  font-size: 15px;
  top: 10px;
  position: relative;
}

.password_form {
  width: 365px;
  height: 55px;
  margin: 10px;
  font-family: arial;
  color: #90949c;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  font-size: 15px;
  position: relative;
  top: 10px;
}

.login_button button {
  background-color: #1877f2;
  height: 50px;
  width: 365px;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 25px;
  color: white;
  margin: 12px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.create_button button {
  background-color: #36a420;
  height: 50px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: -10px;
  left: 80px;
  font-size: 15px;
  color: white;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.img_container img {
  height: 160px;
  width: 210px;
  border: none;
  border-width: 1px;
  border-radius: 5px;
  position: absolute;
  top: 300px;
  left: 50px;
}
