a:link,
a:visited {
  background-color: #f44336;
  padding: 15px 24px;
  text-decoration: none;
  color: black;
  font-size: 130%;
  font-family: "Courier New", Courier, monospace;
}

a:hover,
a:active {
  background-color: red;
  padding: 15px 24px;
  text-decoration: none;
  color: black;
  font-size: 130%;
  font-family: "Courier New", Courier, monospace;
}
