body {
  background-color: #121212;
}

.intro {
  height: 200px;
  width: 700px;
  border-style: dashed;
  border-width: 10px;
  border-color: blue;
}

.intro h1,
.intro p {
  color: red;
}

.test {
  height: 150px;
  width: 700px;
  border: solid 10px yellow;
  margin-top: 100px;
  margin-left: 600px;
  padding-top: 20px;
  box-sizing: border-box;
}

.test p {
  font: size 40px;
  color: white;
  text-align: center;
}
