body {
  background-color: lightblue;
}

h1{
  text-align: center;
}

.example{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:30px;
  color:brown;
}

/* 
This is a multi line css comment

/